@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');

:root {
    --heading-font: 'Barlow Semi Condensed', 'sans-serif';
    --para-font: 'Comfortaa', 'cursive';
    --primary-color: #fdd935;
    --secondary-color: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color) !important;
}

.color-style {
    color: #fff !important;
}

.page-details {
    height: auto;
    width: 100%;
    padding: 5px;
    text-align: left;
}

.page-details img {
    margin-top: 3rem;
    height: 300px;
    width: 400px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 2.3rem;
    display: inline;
}

p {
    font-family: var(--para-font);
    color: var(--secondary-color);
    font-size: 1rem;
}

.form-container {
    height: auto;
    width: 100%;
    margin-top: 7rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.form-container label {
    font-family: var(--para-font);
    color: var(--secondary-color);
    font-size: 1rem;

}

.form-container input {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 4px rgb(236, 235, 235);
    margin-bottom: 1rem;
    font-family: var(--para-font);
}

.form-container input:focus {
    box-shadow: none !important;
    border: none;

}

a {
    cursor: pointer;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 10;
    }
}

.alert-style {
    box-shadow: 2px 2px 10px 4px rgb(225, 233, 225);
}

/* media query */
@media screen and (max-width:490px) {
    .page-details img {
        margin-top: 3rem;
        height: 200px;
        width: 300px;
    }
}

@media screen and (max-width:320px) {
    .page-details img {
        margin-top: 3rem;
        height: 200px;
        width: 100%;
    }
}